<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="avishkar2k17.com.tpo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".signup"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".login_intern"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".signup_intern"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Password_fragment"
            android:parentActivityName=".Home"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Edit_Profile"
            android:configChanges="orientation|screenSize"
            android:label="Edit_Profile"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CurrentCompany"
            android:parentActivityName=".Home"
            android:configChanges="orientation|screenSize"
            android:label="Current Companies" />
        <activity
            android:name=".Company_detail"
            android:parentActivityName=".Home"
            android:configChanges="orientation|screenSize"
            android:label="Details" />
        <activity
            android:name=".Add_Interview_Experience"
            android:parentActivityName=".Home"
            android:configChanges="orientation|screenSize"
            android:label="Interview Experience" />
        <activity
            android:name=".View_Experience"
            android:parentActivityName=".Home"
            android:configChanges="orientation|screenSize"
            android:label="TPO" />
        <activity
            android:name=".View_Detail"
            android:parentActivityName=".ViewExperienceByReg"
            android:configChanges="orientation|screenSize"
            android:label="TPO" />
        <activity
            android:name=".Home"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewExperienceByReg"
            android:parentActivityName=".View_Experience"/>
        <activity android:name=".Mail" />
        <activity
            android:name=".BarGraph"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Notify"
            android:launchMode="singleInstance" android:excludeFromRecents="true"
            android:taskAffinity="" android:theme="@style/Theme.AppCompat.Dialog">
            </activity>
    </application>

</manifest>